[Unit]
Description=Save brightness at shutdown to use it to restore at next startup
DefaultDependencies=no
After=final.target

[Service]
Type=oneshot
ExecStart=/opt/andrea/fix-brightness-2.sh

[Install]
WantedBy=final.target
