[Unit]
Description=Save system clock on shutdown
DefaultDependencies=no
After=final.target

[Service]
Type=oneshot
ExecStart=/opt/andrea/fix-brightness-2.sh

[Install]
WantedBy=final.target
