[Unit]
Description=Fix brightness at startup
After=systemd-user-sessions.service plymouth-quit-wait.service
After=rc-local.service
Before=getty.target
IgnoreOnIsolate=yes

[Service]
Type=oneshot
ExecStart=/opt/andrea/fix-brightness.sh

[Install]
WantedBy=multi-user.target